<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
</head>
<body>
    <div class="wrapper">
        <div class="body">
            <h2>Submitted Information</h2>
            <ul>
                <li>Name: <strong><%= results.name %></strong></li>
                <li>Dojo Location: <strong><%= results.location %></strong></li>
                <li>Favorite Language: <strong><%= results.language %></strong></li>
                <li>Comment: <strong><%= results.comment %></strong></li>
            </ul>
        </div>
    </div>
</body>
</html>