<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <h1>Show!</h1>
  <h3>Name: <%= Moongoose.name %></h3>
  <h3>Weight: <%= Moongoose.weight %></h3>
  <h4>Color: <%= Moongoose.color %></h4>
  <a href="/">Home</a>
  <a href="/<%= Moongoose._id %>/edit">Edit</a>
</body>
</html>