<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message Board</title>
</head>
<body>
    <div class="wrapper">
        <div class="body">
            <div class="header">
                <h1>Message Board</h1>
            </div>
            <div class="main">
                <h2>Post a message</h2>
                <form action="/" method="post">
                    <input type="text" name="postedBy" placeholder="name">
                    <br>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                    <br>
                    <input type="submit" value="Add Message">
                </form>

            </div>
        </div>
    </div>
</body>
</html>