<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:7077/styles/main.css" media="screen" title="no title">
</head>
<body>
    <div class="wrapper">
        <h1>submit a new car</h1>
        <form action="">
            <input type="text" placeholder="car">
            <input type="text" placeholder="engine">
            <input type="submit">
        </form>
    </div>
</body>
</html>